.box {
    width: 200px;
    height: 200px;
    text-indent: -999em;
    background-color: #4661b0;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    border:25px solid #4661b0;
    border-radius: 32px;
    border-bottom: 0;
}
.box::before{
    content: "/20";
    position: absolute;
    background: #4661b0;
    width: 80px;
    height: 160px;
    bottom: -40px;
    right: -37px;
    border: 35px solid white;
    border-radius: 25px;
}
.box::after{
    content: "/20";
    position: absolute;
    width: 100px;
    top:100px;
    height: 25px;
    background: white;
    right: 10px;
}